# Скомпилированные исполняемые файлы и библиотеки
*.exe
*.exe~
*.dll
*.so
*.dylib

# Папки для дистрибутивов и локальных сборок (если вы компилируете в них)
/dist/
/bin/

# Имена конкретных бинарников, если вы собираете их в корень проекта
/server
/client